{% extends"base.html.twig" %}
{% block title%}blog{% endblock %}
{% block main %}
    <div class="container">
        <h1>{{ title }}</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem beatae blanditiis ex fugiat id inventore itaque
            laborum minus odio reprehenderit, rerum sed tempora ullam ut vel vero voluptas voluptatem?</p>
        <div class="text-center"><img src="{{ asset('assets/img/emilie.jpg') }}"  alt="photo d emilie" class="img-fluid "></div>
    </div>
{% endblock %}


